#[include adxl.cfg]
[include fans.cfg]
[include shell_command.cfg]
#[include dummy_macros.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include ./KAMP/Adaptive_Meshing.cfg]
[exclude_object]
[virtual_sdcard]
on_error_gcode: CANCEL_PRINT
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

[mcu]
canbus_uuid: f28cbdf3a41b

[mcu ebb42]
canbus_uuid: 3b41648e6078

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 7200
max_z_velocity: 30
max_z_accel: 500
minimum_cruise_ratio: 0.5
square_corner_velocity: 5.0

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 64
rotation_distance: 40
position_endstop: 0
position_max: 220
homing_speed: 50
endstop_pin = tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 5

[stepper_y]
step_pin: PC15
dir_pin: !PF0
enable_pin: !PF1
microsteps: 64
rotation_distance: 40
position_endstop: 0
position_max: 220
endstop_pin = tmc2209_stepper_y:virtual_endstop
homing_speed: 50
homing_retract_dist: 5

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PB9
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_min: 0
position_max: 220
homing_speed: 12
homing_retract_dist: 0

[stepper_z1]
step_pin: PG12
dir_pin: !PG11
enable_pin: !PG13
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

[extruder]
step_pin: ebb42:PD0
dir_pin: !ebb42:PD1
enable_pin: !ebb42:PD2
microsteps: 64
rotation_distance: 23
gear_ratio: 7:1
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: ebb42:PB13
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: ebb42:PA3
#control: pid
#pid_Kp: 27.248
#pid_Ki: 2.299
#pid_Kd: 80.723
min_temp: 0
max_temp: 250
pressure_advance: 0.024
sensor_type: MAX31865
sensor_pin: ebb42:PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2

[tmc2209 stepper_x]
uart_pin: PC14
interpolate: True
run_current: 1.0
uart_address: 0
sense_resistor: 0.11
#driver_sgthrs: 90
diag_pin: ^PF2

[tmc2209 stepper_y]
uart_pin: PE1
interpolate: True
run_current: 1.0
uart_address: 0
sense_resistor: 0.11
#driver_sgthrs: 75
diag_pin: ^PC13

[tmc2209 stepper_z]
uart_pin: PB5
interpolate: True
run_current: 1.0
uart_address: 0
sense_resistor: 0.11

[tmc2209 stepper_z1]
uart_pin: PG10
interpolate: True
run_current: 1.0
uart_address: 0
sense_resistor: 0.11

[tmc2209 extruder]
uart_pin: ebb42:PA15
run_current: 0.9
stealthchop_threshold: 999999
sense_resistor: 0.11

[motor_constants my_monoprice]
resistance: 1.50
inductance: 0.0028
holding_torque: 0.40
max_current: 1.70
steps_per_revolution: 200

[motor_constants my_custom_motor]
resistance: 1.80
inductance: 0.0042
holding_torque: 0.40
max_current: 1.70
steps_per_revolution: 200

[motor_constants my_custom_motor_two]
resistance: 1.50
inductance: 0.0028
holding_torque: 0.45
max_current: 1.70
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: my_monoprice
tuning_goal: auto
sg4_thrs: 58
#extra_hysteresis: 3

[autotune_tmc stepper_y]
motor: my_monoprice
tuning_goal: auto
sg4_thrs: 65
#extra_hysteresis: 3

[autotune_tmc stepper_z]
motor: my_custom_motor_two
tuning_goal: auto

[autotune_tmc stepper_z1]
motor: my_custom_motor
tuning_goal: auto

[autotune_tmc extruder]
motor: biqu-35BYGF0713-A-10HZT
tuning_goal: auto

[heater_bed]
heater_pin: PA2
sensor_pin: PC2
sensor_type: Generic 3950
min_temp: 0
max_temp: 130

[multi_pin my_fan]
pins: !host:pwmchip0/pwm0, !host:pwmchip0/pwm1

[fan]
pin: multi_pin:my_fan
max_power: 1.0
hardware_pwm: True
cycle_time: 0.001
tachometer_pin: ^PI11
tachometer_ppr: 2
tachometer_poll_interval: 0.002

[heater_fan extruder]
pin: ebb42:PA1
heater: extruder
heater_temp: 50.0
max_power: 1.0
hardware_pwm: False
fan_speed: 1.0

[fan_generic RightFan]
pin: PE5
max_power: 1.0
hardware_pwm: True
cycle_time: 0.001
tachometer_pin: ^PH6
tachometer_ppr: 2
tachometer_poll_interval: 0.002

[controller_fan my_controller_fan]
pin: !PE6
max_power: 1.0
hardware_pwm: False
fan_speed: 1.0
idle_timeout: 9000
idle_speed: 0.5
heater: extruder
stepper: stepper_x,stepper_y,stepper_z,stepper_z1

[fan_generic Fan2]
pin: PC8
max_power: 1.0
hardware_pwm: False

[fan_generic EBBfan]
pin: ebb42:PA0

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[temperature_sensor host_temp]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

[temperature_sensor ebb42_temp]
sensor_type: temperature_mcu
sensor_mcu: ebb42

[bltouch]
sensor_pin: ^ebb42:PB8
control_pin: ebb42:PB9
pin_move_time: 0.68
stow_on_each_sample: True
probe_with_touch_mode: False
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
x_offset: -39
y_offset: 0
#z_offset: 9
speed: 6
samples: 1
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 0

[bed_mesh]
speed: 160
horizontal_move_z: 6
mesh_min: 5,10
mesh_max: 160,205
probe_count: 5,5
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1
fade_end: 10

[z_tilt]
z_positions:
   110, 267
   110, -32
points:
   110, 200
   110, 10
speed: 160
horizontal_move_z: 6
retries: 20
retry_tolerance: 0.005

[homing_heaters]
steppers: stepper_x,stepper_y,stepper_z,stepper_z1
heaters: extruder, heater_bed

[homing_override]
axes = xyz
gcode = 
	{% set config   = printer['configfile'].config %}
	{% if 'bed_mesh' in config %}
	{% if printer.bed_mesh.profile_name %}
	{% set lastMeshProfile = printer.bed_mesh.profile_name %}
	{% endif %}
	BED_MESH_CLEAR
	{% endif %}
	{% set requested = {'x': False,
	'y': False,
	'z': False} %}
	{% if   not 'X' in params
	and not 'Y' in params
	and not 'Z' in params %}
	{% set X, Y, Z = True, True, True %}
	{% else %}
	{% if 'X' in params %}
	{% set X = True %}
	{% set null = requested.update({'x': True}) %}
	{% endif %}
	{% if 'Y' in params %}
	{% set Y = True %}
	{% set null = requested.update({'y': True}) %}
	{% endif %}
	{% if 'Z' in params %}
	{% set Z = True %}
	{% set null = requested.update({'z': True}) %}
	{% endif %}
	{% endif %}
	{% if X %}
	G28 X0
	{% endif %}
	{% if Y %}
	G28 Y0
	{% endif %}
	{% if Z %}
	G0 X110 Y110 F3000
	G28 Z0
	G1 Z5 F800
	{% endif %}
	{% if 'bed_mesh' in config and lastMeshProfile %}
	BED_MESH_PROFILE LOAD={ lastMeshProfile }
	{ action_respond_info("Loaded Bed Mesh Profile (%s)" % (lastMeshProfile)) }
    SKEW_PROFILE LOAD=my_skew_profile
    { action_respond_info("Loaded Skew Correction Profile") }
	{% endif %}

[firmware_retraction]
retract_length: 0.4
retract_speed: 5
unretract_extra_length: 0
unretract_speed: 5

[gcode_arcs]
resolution: 0.1

[skew_correction]

[adxl345]
cs_pin: ebb42:PB12
spi_software_sclk_pin: ebb42:PB10
spi_software_mosi_pin: ebb42:PB11
spi_software_miso_pin: ebb42:PB2
axes_map: -x,-z,-y

[resonance_tester]
accel_chip: adxl345
probe_points:
    110, 110, 10

[input_shaper]
shaper_freq_x: 70.8
shaper_type_x: mzv
shaper_freq_y: 51.8
shaper_type_y: mzv
damping_ratio_x: 0.047
damping_ratio_y: 0.118

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: True
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 2
max_freq: 200
dpi: 300

[neopixel my_neopixel]
pin: PF13
chain_count: 17
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

#[neopixel hotend_rgb]
#pin: ebb42:PD3

#[filament_switch_sensor switch_sensor]
#switch_pin: ebb42:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^ebb42:PB3

[gcode_button stop]
pin: ^!host:gpio14
press_gcode: M112

[gcode_macro START_PRINT]
gcode:
#Get Printer built volume dimensions
      {% set X_MAX = printer.toolhead.axis_maximum.x|default(220)|float %}
      {% set Y_MAX = printer.toolhead.axis_maximum.y|default(220)|float %}
      {% set Z_MAX = printer.toolhead.axis_maximum.z|default(220)|float %}

      #Get Nozzle diameter and filament width for conditioning
      {% set NOZZLE = printer.extruder.nozzle_diameter|default(0.4)|float %}
      {% set FILADIA = printer.extruder.filament_diameter|default(1.75)|float %}

      #Set Start coordinates of priming lines
      {% set X_START = 10.0|default(10.0)|float %}
      {% set Y_START = 20.0|default(20.0)|float %}

      #Calculate Primer line extrusion volume and filament length
      {% set PRIMER_WIDTH = 0.75 * NOZZLE %}                    
      {% set PRIMER_HEIGHT = 0.70 * NOZZLE %}           
      {% set PRIMER_SECT = PRIMER_WIDTH * PRIMER_HEIGHT %}    
      {% set PRIMER_VOL = PRIMER_SECT * (X_MAX - 3 * X_START) %}    
      {% set FILA_SECT = 3.1415 * ( FILADIA / 2.0)**2 %}          
      {% set FILA_LENGTH = 1.55 * PRIMER_VOL / FILA_SECT %}      

      #Get Bed and Extruder temperature from Slicer GCode
      {% set BED_TEMP = params.BED_TEMP|default(75)|float %}
      {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(235)|float %}
      #Preheat nozzle and bed
      M104 S{EXTRUDER_TEMP} T0                        
      M140 S{BED_TEMP}                                

      #Home
      G28
      G0 Z5 F800
      BED_MESH_CALIBRATE
      #Move up to clean bed
      #G1 Y{Y_MAX - 20} Z{Z_MAX/4.0} F2000                

      #Heat nozzle and bed
      M190 S{BED_TEMP}                               
      M109 S{EXTRUDER_TEMP} T0                       
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-2} MAXIMUM={EXTRUDER_TEMP+2} ; wait for extruder to reach temperature. The temperature isn't stable but it is good enough to start printing 

      #Precondition extruder
      G92 E0     
      G1 X{X_START} Y{Y_START} Z{PRIMER_HEIGHT} F2000.0     
      G1 X{X_MAX/2} E{FILA_LENGTH * 2} F2000.0  
  
      G92 E0            
      #G1 Z2.0 F600
      #SET_LED LED=light RED=1 GREEN=1 BLUE=1

[gcode_macro END_PRINT]
gcode:
  # Turn off bed, extruder, and fan
  M140 S0
  M104 S0
  M106 S0
  # Move nozzle away from print while retracting
  G91 ; rel pos
  #G1 X-2 Y-2 E-3 F300
  G1 X-2 Y-2 F300
  # Raise nozzle by 10mm
  #SET_PIN PIN=beeper VALUE=1
  G1 Z20 F1200
  #SET_PIN PIN=beeper VALUE=0
  G90 ; absolute pos
  G1 X5 Y170 F1200 ;clear head and bring bed to the front
  # Disable steppers
  M84
  #SET_LED LED=light RED=0 GREEN=1 BLUE=0 ;Green

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
	TURN_OFF_HEATERS
	CLEAR_PAUSE
	SDCARD_RESET_FILE
	BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing = BASE_PAUSE
gcode: 
	{% set x = params.X|default(1) %}
	{% set y = params.Y|default(1) %}
	{% set z = params.Z|default(15)|float %}
	{% set e = params.E|default(0.75) %}
	{% set max_z = printer.toolhead.axis_maximum.z|float %}
	{% set act_z = printer.toolhead.position.z|float %}
	{% set lift_z = z|abs %}
	{% if act_z < (max_z - lift_z) %}
	{% set z_safe = lift_z %}
	{% else %}
	{% set z_safe = max_z - act_z %}
	{% endif %}
	SAVE_GCODE_STATE NAME=PAUSE_state
	BASE_PAUSE
	G91
	G1 E-{e} F1200
	G1 Z{z_safe}
	G90
	G1 X{x} Y{y} F1200

[gcode_macro SENSORLESS_HOME_X]
gcode = 
	{% set HOME_CUR = 0.700 %}
	{% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
	{% set RUN_CUR = driver_config.run_current %}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
	G4 P2000
	G28 X0
	G90
	G1 X5 F1200
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

[gcode_macro SENSORLESS_HOME_Y]
gcode = 
	{% set HOME_CUR = 0.700 %}
	{% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
	{% set RUN_CUR = driver_config.run_current %}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
	G4 P2000
	G28 Y0
	G90
	G1 Y5 F1200
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}

[gcode_macro SENSORLESS_HOME]
gcode = 
	{% set HOME_CUR = 0.700 %}
	{% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
	{% set RUN_CUR = driver_config.run_current %}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
	G4 P2000
	G28 X0
	G90
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}
    {% set HOME_CUR = 0.700 %}
	{% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
	{% set RUN_CUR = driver_config.run_current %}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
	G4 P2000
	G28 Y0
	G90
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
	G28 Z0
	G90
	G0 Z5 F800

[gcode_macro M106]
rename_existing: M106.1
variable_lock: 0
gcode:
  {% set S = params.S|default(0)|int %}
  {% set CURLOCK = printer["gcode_macro M106"].lock %}
  {% if 'L' in params %}
     SET_GCODE_VARIABLE MACRO=M106 VARIABLE=lock VALUE={params.L|default(1)|int}
     M106.1 S{S}
  {% else %}    
      {% if CURLOCK == 1%}
          RESPOND TYPE=error MSG="FAN LOCK ON SEND M106 L0 TO REMOVE"
      {% else %}
          M106.1 S{S}
      {% endif %}
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.040
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 45.007
#*# pid_ki = 2.326
#*# pid_kd = 217.723
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.013453178813295752
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.105625, 0.090625, 0.126250
#*# 	  0.057500, 0.098750, 0.090000
#*# 	  0.068750, 0.073750, 0.089375
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 82.78
#*# max_x = 127.97999999999999
#*# min_y = 112.83
#*# max_y = 158.01
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.506
#*# pid_ki = 1.939
#*# pid_kd = 104.763
#*#
#*# [input_shaper]
